section.map
    h2 Где мы находимся (карта)
    .wrapper.map__innerWrap
        aside.map__popup
            h3 NЁRDS DESIGN STUDIO
            p 191186, Санкт-Петербург,  ул. Б. Конюшенная, д. 19/8
            a(href="tel:+79000000000") + 7 (812) 275-75-75
            button.button Напишите нам

