header.header
    nav
        a
            img.header__logo(alt="logo")
        ul.header__menu
            li
                a(href="#") 
            li
                a(href="#") 
            li
                a(href="#") 
            li
                a(href="#") 
            li
                a(href="#") 
            li
                a(href="#") 