header.header
    .wrapper
        nav.header__nav
            a(href="index.html").header__logo
                img.header__logo--img(src="static/images/icons/nerds-logo.svg" alt="Дизайн-студия Nerds" width="140")
            ul.header__menu
                li
                    a.header__menu--item(href="#") Студия
                li
                    a.header__menu--item(href="#") Клиенты
                li
                    a.header__menu--item(href="catalog.html") Магазин
                li
                    a.header__menu--item(href="#") Контакты
            a(href="#").header__cart Корзина
