.header
    background-color: #eee;
    min-height:85px;
    &__menu>li
        list-style none
        text-transform uppercase
        font: "Roboto", sans-serif
    &__cart
        width:100px;
        &:before
            content:""
            background-image:url('../images/icons/cart-icon.svg')
    &__nav,
    &__menu
        display: flex;
        justify-content: space-between
        width: 400px;
        &--item
            text-decoration:none
            color:#000;
            text-transform: uppercase
    &__logo
        margin-right: auto;
        width: 140px
    &__cart
        margin-left: 60px;
    &__nav
        width: 880px;




