header.header
    nav
        a
            img.header__logo(alt="Дизайн-студия Nerds")
        ul.header__menu
            li
                a(href="#") Студия
            li
                a(href="#") Клиенты
            li
                a(href="#") Магазин
            li
                a(href="#") Контакты
        a(href="#") Корзина
