section.products
    ul
        li
            img(src="" alt="1й продукт")
            h3 Веб-сайты
            p Мир никогда не будет прежним, после того, как увидит Ваш сайт
            button Заказать
        li
            img(src="" alt="2й продукт")
            h3 Приложения
            p Покорите топ-10 приложений в AppStrore и Google Play
            button Заказать
        li
            img(src="" alt="3й продукт")
            h3 Презентации
            p Вы даже не подозреваете,  насколько вы изумительны!
            button Заказать

