section.products
    .wrapper
        ul.products__list
            li
                img(src="static/images/content/prod1.jpg" alt="Картинка сайтов" width="240")
                h3 Веб-сайты
                p Мир никогда не будет прежним, после того, как увидит Ваш сайт
                button.button Заказать
            li
                img(src="static/images/content/prod2.jpg" alt="Приложения" width="240")
                h3 Приложения
                p Покорите топ-10 приложений в AppStrore и Google Play
                button.button Заказать
            li
                img(src="static/images/content/prod3.jpg" alt="Презентация" width="240")
                h3 Презентации
                p Вы даже не подозреваете,  насколько вы изумительны!
                button.button Заказать

