.header
    background-color: #eee;
    min-height:85px;
    &__menu>li
        list-style none
        text-transform uppercase
        font:600 14px/20px "Roboto", sans-serif;
    &__nav,
    &__menu
        display: flex;
        justify-content: space-between
        width: 400px;
        &--item
            text-decoration:none
            color:#000;
            text-transform: uppercase
    &__menu
        align-items: flex-end;
        padding-bottom: 10px;
    &__logo
        margin-right: auto;
        width: 140px
    &__cart
        margin-left: 95px;
        align-self: flex-end;
        margin-bottom: 10px;
        text-transform: uppercase;
        color:#000;
        position: relative;
        font:200 14px/20px "Roboto", sans-serif;
        &:before
            content:""
            position: absolute;
            background-image url("../images/icons/cart-icon.svg");
            top: 3px
            width:30px;
            height: 30px;
            left: -30px;
            background-clip: content-box;
            background-repeat: no-repeat;
    &__nav
        width: 880px;




