.catalog
  display:grid;
  grid-template-columns: 240px auto;
  &__title
    text-transform: uppercase;
    padding-top:80px;
    padding-bottom:90px;
    grid-column:1/-1;
  &__filter
    &>h2
      display:none
