.map
  min-height: 420px;
  &>h2
    display: none;
  background-image url("../images/content/map.png")
  &__innerWrap
    padding:90px 0;
  &__popup
    background-color: #fff;
    width: 253px;
    min-height: 253px;
    padding: 30px 20px;
    display:grid;
    row-gap:25px;
    &>a
      min-height: 40px;
