section.about
    h2 Мы — маленькая, но гордая дизайн-студия из Краснодара.
    p Исповедуем принципы минимализма и чистоты. Ставим математический расчет выше креатива. Работаем не покладая рук, как роботы
    h3 Выполняем заказы на разработку
    ul
        li Веб-сайтов любой сложности
        li Мобильных приложений для iOS и Android
        li Слфйд-шоу и видео для корпоративных презентаций
    img(src="" alt="снова лого Nerds")
    h3 как мы работаем
    ul
        li С самоотдачей 146%
        li Соблюдая сроки на 100%
        li По предоплате 50%

