//Здесь хранятся глобальные значения, распространяющиеся на все страницы
ul,section,article,header,footer,aside,nav,body,html,main
  margin: 0
  padding: 0;
  box-sizing:border-box;
.page
  height: 100%;
  font-family:$font-type
.page-body
  min-height:100%;
  display:grid;
  grid-template-rows min-content 1fr min-content;
li
  list-style:none;

a
  text-decoration: none;

.wrapper
  width: 880px;
  margin: 0 auto;
  padding:0 10px;
.button
  border-radius:5px;
  background-color: $main-color;
  color:#fff;
  padding: 5px 10px;
  text-transform: uppercase;
  display: block;
.visuallyHidden
  visibility hidden
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

