//Здесь хранятся глобальные значения, распространяющиеся на все страницы
.page
  height: 100%;
.page-body
  min-height:100%;
  display:grid;
  grid-template-rows min-content 1fr min-content;
a
  text-decoration: none;
//section,div,span,ul,li,a,p,article,aside,h1,h2,h3,h4,h5,h6,nav,header,footer
//  outline:2px solid rgba(0 255 0 0.7)
//  outline-offset:-5px;
//  &:hover
//    outline:2px solid rgba(0 0 170 0.7)
//    outline-offset:-5px;
//    cursor:pointer;
ul,section,article,header,footer,aside,nav
  margin: 0
  padding: 0;
  box-sizing:border-box;
li
  list-style:none;
.wrapper
  max-width: 880px;
  margin: 0 auto;
.button
  border-radius:5px;
  background-color: #fb565a;
  color:#fff;
  padding: 5px 10px;
  text-transform: uppercase;
  display: block;

