section.feedback
    form
        div
            label(for="login") Ваше имя:
            input(type="text" placeholder='ПРЕДСТАВЬТЕСЬ, ПОЖАЛУЙСТА' id="login")
        div
            label(for="email") Ваш e-mail:
            input(type="email" placeholder='ДЛЯ ОТПРАВКИ ОТВЕТА' id="email")
        label(for="answer") Текст письма:
        textarea(placeholder='В СВОБОДНОЙ ФОРМЕ' id="answer")
        button(type='submit') отправить
    button(type='button') Закрыть

