.gallery
  background-color: #eee;
  padding-top:50px;
  padding-bottom:80px;
  &__title
    font-size: 36px;
  &__list
    display: grid;
    grid-template-columns 380px auto 350px
    gap-column:20px;
  &__mainTitle
    display: none;
  &__button
    padding: 20px 10px;
    margin-right: 140px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  &__radio
    align-self:flex-end;