section.gallery
    .wrapper
        h1.gallery__mainTitle Дизайн-студия Nerds
        .gallery__list
            .gallery__innerWrap
                h2 Долго, дорого, скрупулезно
                p Математически выверенный дизайн  для вашего сайта или мобильного приложения
                a.button.gallery__button(href="#") Узнать больше
            .gallery__innerWrap.gallery__radio
                input(type="radio" name="main-slider" value="1" checked)
                input(type="radio" name="main-slider" value="2" )
                input(type="radio" name="main-slider" value="3" )
            .gallery__innerWrap
                img(src="static/images/content/slider/index-slide-1.png" width="350" height="250")





