.gallery
  &__list
    display: grid;
    grid-template-columns 380px auto 350px
    gap-column:20px;
  &__mainTitle
    display: none;
  &__button
    padding:20px 70px !important;
    margin-right:140px;
  &__radio
    align-self:flex-end;