section.partners.wrapper
    h2.partners__title Наши партнеры
    ul.partners__list
        li
            img(alt="1й партнер")
        li
            img(alt="2й партнер")
        li
            img(alt="3й партнер")

