section.partners.wrapper
    h2.partners__title Наши партнеры
    ul.partners__list
        li
            img(alt="1й партнер" src="static/images/icons/p1.png")
        li
            img(alt="2й партнер" src="static/images/icons/p2.png")
        li
            img(alt="3й партнер" src="static/images/icons/p3.png")

