extends layout/main

block variables
	-var title = 'Nerds'

block content
	include ../blocks/index/gallery/gallery
	include ../blocks/index/products/products
	include ../blocks/index/about/about
	include ../blocks/index/partners/partners
	include ../blocks/index/map/map
