section.products
    .wrapper
        ul.products__list
            li.products__item
                img.products__img(src="static/images/content/prod1.jpg" alt="Картинка сайтов" width="240" height="125")
                h3.products__subTitle Веб-сайты
                p.products__description Мир никогда не будет прежним, после того, как увидит Ваш сайт
                button.button.products__button.first Заказать
            li.products__item
                img.products__img(src="static/images/content/prod2.jpg" alt="Приложения" width="240" height="125")
                h3.products__subTitle Приложения
                p.products__description Покорите топ-10 приложений в AppStrore и Google Play
                button.button.products__button.second Заказать
            li.products__item
                img.products__img(src="static/images/content/prod3.jpg" alt="Презентация" width="240" height="125")
                h3.products__subTitle Презентации
                p.products__description Вы даже не подозреваете,  насколько вы изумительны!
                button.button.products__button.third Заказать

