section.about.wrapper
        h2.about__title Мы — маленькая, но гордая дизайн-студия из Краснодара.
        p.about__description Исповедуем принципы минимализма и чистоты. Ставим математический расчет выше креатива. Работаем не покладая рук, как роботы
        h3.about__subtitle Выполняем заказы на разработку
        ul.about__whatMake
            li.about__list Веб-сайтов любой сложности
            li.about__list Мобильных приложений для iOS и Android
            li.about__list Слайд-шоу и видео для корпоративных презентаций
        img.about__logo(src="static/images/icons/nerds-logo.svg" alt="Лого Nerds")
        p.about__since since 2004
        h3.about__subtitle как мы работаем
        ul.about__howMake
            li.about__list С самоотдачей 146%
            li.about__list Соблюдая сроки на 100%
            li.about__list По предоплате 50%

